{% extends "base.html" %} {% load static %} {% block content%}
<main class="w-full">
  <h1>About</h1>
  <p>
    This project involves many partners across the continent who are documenting
    governance approaches to migration & health in Africa.
    
    This includes collating legislation, policies and frameworks at global, continental,
    regional, national and sub-national levels.
    
    Our aim is to build a user-friendly, open-access repository for policy makers, programmers,
    non-state actors, researchers and others who are involved in reviewing and
    developing approaches to improve the governance of migration & health across
    the continent.
  </p>
</main>
{% endblock %}
